<!-- Profile form partial to be inserted using the handlebars helper where needed -->
<form id="profileform" action="/profile-info" method="POST">
<legend>Edit Profile Info</legend>
    <label for="fullname">Full name:</label>
    <input type="text" id="fullname" name="fullname" value="{{#if data.profile}}{{#each data.profile}}{{name}}{{/each}}{{else}}{{data.name}}{{/if}}" placeholder="Full Name" required>

    <label for="birthdate">Date of Birth:</label>
    <div id="birthdate">
        <select class="dob" type="select" name="month" value="" required>
            <option value="jan" disabled selected hidden aria-hidden="true">Month</option>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sept</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <input class="dob" type="number" name="day" value="" min="1" max="31" placeholder="Day (29)">
        <input class="dob" type="number" name="year" value=""
        placeholder="Year (2000)" min="1900" max="2018" required>
    </div>

    <label for="gendergroup">Gender:</label>
    <div id="gendergroup">
        <label>
            <input type="radio" name="gender" value="male" required> Male
            <span class="radio"></span>
        </label>
        <label>
            <input type="radio" name="gender" value="female"> Female
            <span class="radio"></span>
        </label>
        <label>
            <input type="radio" name="gender" value="other"> Other
            <span class="radio"></span>
        </label>
        
    </div>

    <label for="location">Location:</label> 
    <input id="location" type="text" name="location" value="{{#if data.profile}}{{#each data.profile}}{{location}}{{/each}}{{else}}{{data.location}}{{/if}}" placeholder="Location">

    <label for="hobbies">Hobbies:</label>
    <textarea id="hobbies" type="text-area" name="hobbies">{{#if data.profile}}{{#each data.profile}}{{hobbies}}{{/each}}{{else}}{{data.hobbies}}{{/if}}</textarea>
    <button class="halfbtn positive" type="submit" value="Submit">Submit</button><button type="button" class="halfbtn caution" onclick="cancel(event, this)">cancel</button>
</form> 

<script>
    function edit(el) {
        var editForm = document.getElementById('profileform');
        editForm.style.display = "block";
        el.style.display = "none";
    }
    function cancel(e, el) {
        e.preventDefault();
        var editForm = document.getElementById('profileform');
        var editBtn = document.getElementsByClassName('editprofile-btn')[0];
        editForm.style.display = "none";
        editBtn.style.display = "block";
        this.display = "none";
    }
    //Function to populate profile form - this needs to be in page and not script file to access Handlebars data: {{data.profile}} etc.
    //Part of the form is simply populated above using Handlebars helpers but for the select/dropdown/multiple option inputs this function is needed
    function populateProfileForm() {
        //Check which radio should be checked
        var gender = '{{#if data.profile}}{{#each data.profile}}{{gender}}{{/each}}{{else}}{{data.gender}}{{/if}}'; //Gender from database/Handlebars variable
        var radios = document.getElementsByName('gender'); //All radios with name "gender"
        for (let i = 0; i < radios.length; i++) {//Loop through all gender radios and if the value matches the database gender check that radio
            if (radios[i].value === gender) {
                radios[i].checked = true;
            }
        }

        //check date of birth
        var dob = "{{#if data.profile}}{{#each data.profile}}{{age}}{{/each}}{{else}}{{data.age}}{{/if}}";
        console.log(dob)
        //get dob year month and day values from database string
        if (dob > 0){
            var dbYear = Number(dob.substr(0, 4));
            var dbMonth = Number(dob.substr(4, 2)) - 1;
            var dbDay = Number(dob.substr(6, 2));
        }
        
        // get dob form elements
        var formYear = document.getElementsByName('year')[0];
        var formMonth = document.getElementsByName('month')[0];
        var formDay = document.getElementsByName('day')[0];
        //set form year to the db year
        if (dbYear >= 0) {
            formYear.value = dbYear;
        }   
        //set form month to equal dbMonth value + 1 - reason for +1 is that there is an extra option/index in the select for the placeholder 
        if (dbMonth >= 0) { //if the value is not a number or is undefined etc don't do this
            formMonth.selectedIndex = dbMonth+1;
        }
        //set form day to the db day
        if (dbDay >= 0) {
            formDay.value = dbDay;
        }
                
    }
    populateProfileForm();
    
</script>