<!-- History page - this one has the most data insertion and probably most complex dynamic HTML building -->
<h1>{{ title }}</h1>
<p>Viewing available entries from the last 31 days</p>
{{!-- If data exists render data using methods contained else present a message indicating no data has arrived yet | this should void server crashes and give more feedback to user --}}
{{#if data}}
    {{#each data}}
        <div class="datablock">
            <div class="diary-text">
                <h2>Diary Entry</h2>
                <span>{{diaryEntry.timestamp}}</span>
                <p>"{{diaryEntry.entry}}"</p>
            </div>
            
            <div class="dataset dataset--tone">
                <button class="accordion">Tone Results</button>
                <div class="panel">
                    <div class="col">
                        <span class="col__data col__data--title">Anger: </span>
                        {{#if tone.anger}}
                            <span class="col__data col__data--value">{{tone.anger}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    
                    <div class="col">
                        <span class="col__data col__data--title">Fear: </span>
                        {{#if tone.fear}}
                            <span class="col__data col__data--value">{{tone.fear}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Joy: </span>
                        {{#if tone.joy}}
                            <span class="col__data col__data--value">{{tone.joy}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Sadness: </span>
                        {{#if tone.sadness}}
                            <span class="col__data col__data--value">{{tone.sadness}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Analytical: </span>
                        {{#if tone.analytical}}
                            <span class="col__data col__data--value">{{tone.analytical}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Confident: </span>
                        {{#if tone.confident}}
                            <span class="col__data col__data--value">{{tone.confident}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Tentative: </span>
                        {{#if tone.tentative}}
                            <span class="col__data col__data--value">{{tone.tentative}}%</span>
                        {{else}}
                        <span class="col__data col__data--value">0%</span>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="dataset dataset--personality">
                <button class="accordion">Big 5 Personality Trait Results</button>
                <div class="panel">
                    <div class="col">
                        <span class="col__data col__data--title">Openness: </span>
                        <span class="col__data col__data--value">{{personality.big5_openness}}%</span>
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Conscientiousness: </span>
                        <span class="col__data col__data--value">{{personality.big5_conscientiousness}}%</span>
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Extraversion: </span>
                        <span class="col__data col__data--value">{{personality.big5_extraversion}}%</span>
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Agreeableness: </span>
                        <span class="col__data col__data--value">{{personality.big5_agreeableness}}%</span>
                    </div>
                    <div class="col">
                        <span class="col__data col__data--title">Neuroticism: </span>
                        <span class="col__data col__data--value">{{personality.big5_neuroticism}}%</span>
                    </div>
                </div>
                
            </div>
        </div>
    {{/each}}
{{else}}
No data currently available, please make a diary entry
{{/if}}
<script>
//Simple accordion script
    //Get element to manipulate
var acc = document.getElementsByClassName("accordion");

//for all elements with accordion in the classlist add an event listener and manipulate as required
for (let i = 0; i < acc.length; i++) {
    //add an click event listener to the element - this will serve as a button/toggle using CSS to visually indicate it's usage
  acc[i].addEventListener("click", function() {
      //for the current button/toggled that was clicked on - add class of active - will use CSS to visualise an activated state
    this.classList.toggle("active");
    //given that the panel of the accordion should always be directly after the button/toggle get the next sibling which should be the panel
    var panel = this.nextElementSibling;
    //Toggle logic - if already displayed, once toggle/button clicked hide the panel else show the panel 
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>