<h1>{{ title }}</h1>



<div class="block block--user">
    {{#if data.profile}}
        {{#each data.profile}}
            <div>Name: {{name}}</div>
            <div>Age: {{age}}</div>
            <div>Gender: {{gender}}</div>
            <div>Hobbies: {{hobbies}}</div>

            <button class="editprofile-btn smallbtn" onclick="edit(this)">Edit</button>
            {{> profileform}}
        {{/each}}
    {{else}}
            <p>No user exists, please create one</p>
            <button class="editprofile-btn smallbtn" onclick="edit(this)">Create Profile</button>
            {{> profileform}}
    {{/if}}
</div>

<div class="block block--diary-entry">
    <h2>Latest Diary Entry</h2>
    {{#each data.diaryEntry}}
        <blockquote>{{entry}}</blockquote>
    {{/each}}
</div>
<div class="block block--tone">
    <h2>Tone</h2>
    {{#if data.tone}}
        {{#each data.tone}}
            {{#if anger}}Anger{{anger}}%{{/if}}
            {{#if fear}}Fear {{fear}}%{{/if}}
            {{#if joy}}Joy {{joy}}%{{/if}}
            {{#if sadness}}Sadness {{sadness}}%{{/if}}
            {{#if analytical}}Analytical {{analytical}}%{{/if}}
            {{#if confident}}Confident {{confident}}%{{/if}}
            {{#if tentative}}Tentative {{tentative}}%{{/if}}
        {{/each}}
    {{else}}
        No tone data yet, please create a diary entry
    {{/if}}
</div>
<div class="block block--sentiment">
    <h2>Sentiment</h2>
    <p>get sentiment results here</p>
</div>
<div class="block block--personality">
    
    <h2>Personality Insights</h2>
    {{#each data.personality}}
        <div class="personality__block--container">
                <div class="personality__block personality__block--openness">
                    <h3>Openness:</h3>
                    <p>{{big5_openness}}%</p>
                </div>
                <div class="personality__block personality__block--conscientiousness">
                    <h3>Conscientiousness:</h3>
                    <p>{{big5_conscientiousness}}%</p>
                </div>
                <div class="personality__block personality__block--extraversion">
                    <h3>Extraversion:</h3>
                    <p>{{big5_extraversion}}%</p>
                </div>
                <div class="personality__block personality__block--agreeableness">
                    <h3>Agreableness:</h3>
                    <p>{{big5_agreeableness}}%</p>
                </div>
                <div class="personality__block personality__block--neuroticism">
                    <h3>Neuroticism:</h3>
                    <p>{{big5_neuroticism}}%</p>
                </div>
        </div>
    {{/each}}

</div>
